# Puerto del servidor Backend
PORT=4000

# Secreto para firmar los JSON Web Tokens
JWT_SECRET="tropica_super_secret_2026_dev_key"

# Client ID proporcionado por Google Cloud Console (Para Login con Google)
# TODO: Reemplazar con el ID real del proyecto
GOOGLE_CLIENT_ID="TU_GOOGLE_CLIENT_ID.apps.googleusercontent.com"

# URL de conexión a tu base de datos PostgreSQL
# Reemplazar username, password, host, port y database_name
DATABASE_URL="postgresql://postgres:password@localhost:5432/tropica_builder?schema=public"
DATABESE_PSW="qE2dZKUc.5AZ4_*"